.aboutSectionStyle {
    background-color: black;
    text-align: center;
}

.aboutDivStyle {
    max-width: 70vw;
    margin: 1rem auto 1rem;
}

.aboutH3Style, .aboutPStyle {
    text-align: center;
    margin: 1rem auto;
}

.aboutImageDivStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.aboutImageStyle {
    max-width: 20rem;
    width: 100%; 
    height: auto;
    margin: 2rem;
    border-radius: 1rem;
}

.buttonStyle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
}

@media (min-width: 450px) {
    .aboutDivStyle {
        margin: 10rem auto 1rem;
    }
}