.buttonStyle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
}

.projectsSectionStyle {
    background-color: black;
    text-align: center;
}

.allProjectsDivStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectDivStyle {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 1rem;
    max-width: 20rem;
}

.projectH2Style, .projectPStyle {
    text-align: center;
    margin: 1rem auto;
    max-width: 15rem;
}

.projectImageStyle {
    width: 15rem;
    height: 10rem;
    border-radius: 1rem;
}

.techDivStyle {
    padding: 1rem;
}

.techH2Style, .techPStyle {
    text-align: center;
    margin: 1rem auto;
    max-width: 70vw;
}

@media (min-width: 450px) {
    .allProjectsDivStyle {
        margin: 10rem auto 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 70vw;
    }
    
    .projectDivStyle {
        max-width: 30rem;
    }
    
    .projectH2Style, .projectPStyle {
        max-width: 20rem;
    }
    
    .projectImageStyle {
        width: 20rem;
        height: 15rem;
    }
}