
/* Css reset */
/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

/* Remove default padding */
ul, ol {
  padding: 0;
}

/* Remove default list style */
ul, ol {
  list-style: none;
}

/* Set default font family and size */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(45deg, hsl(240deg 100% 20%) 1%, hsl(260deg 100% 23%) 43%, hsl(279deg 100% 27%) 50%, hsl(298deg 100% 30%) 51%, hsl(318deg 100% 33%) 51%, hsl(337deg 100% 37%) 49%, hsl(357deg 100% 40%) 49%, hsl(16deg 100% 43%) 50%, hsl(36deg 100% 47%) 57%, hsl(55deg 100% 50%) 99%); */
  background-image: url('./assets/images/city.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
/* Css reset */

:root{
  --background-color-1: rgb(2, 2, 2);
  --background-color-2: #0f0f0f;
  --green-font-color: #25fd30;
  --teal-font-color: rgb(127, 254, 254);
  --yellow-font-color: rgb(255, 255, 113);
  --purple-font-color: rgba(255, 150, 255, 1);
  --orange-font-color: rgba(255, 204, 153, 1);
  --standard-padding: 20px;
  --standard-margin-bottom: 100px;
  --standard-margin: 20px;
}


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: monospace;
  background-color: black;
  color: #FFA500;
  text-shadow: 0 0 5px #FFA500, /* Horizontal and vertical offset set to 0, 5px blur */
               0 0 5px #FFA500, /* A wider blur for more glow */
               0 0 5px #FF4500, /* Even wider and slightly darker orange for depth */
               0 0 5px #FF4500;
}